name: Deploy BackendCine

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            echo "=== Ejecutando script de deploy ==="
            bash ~/deploy_backendcine.sh
            echo "=== MOSTRANDO LOGS DE DOCKER ==="
            cd ~/BACKEND_CINE
            docker compose ps
            docker compose logs --tail=50
