name: Deploy BackendCine

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: SSH to server and deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 3.128.200.224
          username: bitnami
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            bash ~/deploy_backendcine.sh
